.form-card {
    margin: auto;
    margin-top: 10vh;
    width: 40%;
}

.form-field {
    width: 100%;
}

.form-content {
    margin-top: 3%;
}

.table {
    width: 100%;
}

.mt {
    margin-top: 20px;
}