<div class="content">
  <mat-card class="form-card">
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Station"> 
          <form [formGroup]="commonForm" (ngSubmit)="onSubmit(commonForm, 'station')" class="form-content">
      
            <mat-form-field class="form-field">
              <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
          
            <mat-form-field class="form-field">
              <input matInput placeholder="Full Name" formControlName="fullName">
            </mat-form-field>
          
            <mat-form-field class="form-field">
              <input matInput placeholder="X" formControlName="x">
            </mat-form-field>
          
            <mat-form-field class="form-field">
              <input matInput placeholder="Y" formControlName="y">
            </mat-form-field>
            
            <button mat-raised-button color="primary">Submit</button>
          </form>
        </mat-tab>
        <mat-tab label="Carriage"> 
          <form [formGroup]="commonForm" (ngSubmit)="onSubmit(commonForm, 'carriage')" class="form-content">
      
            <mat-form-field class="form-field">
              <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
          
            <mat-form-field class="form-field">
              <input matInput placeholder="Full Name" formControlName="fullName">
            </mat-form-field>
          
            <mat-form-field class="form-field">
              <input matInput placeholder="X" formControlName="x">
            </mat-form-field>
          
            <mat-form-field class="form-field">
              <input matInput placeholder="Y" formControlName="y">
            </mat-form-field>
          
            <button mat-raised-button color="primary">Submit</button>
          </form>
        </mat-tab>
        <mat-tab label="Signal">
          <form [formGroup]="signalForm" (ngSubmit)="onSubmit(signalForm, 'signal')" class="form-content">
      
            <mat-form-field class="form-field">
              <input matInput placeholder="Power" formControlName="power">
            </mat-form-field>
          
            <mat-form-field class="form-field">
              <input matInput placeholder="X" formControlName="from">
            </mat-form-field>
          
            <mat-form-field class="form-field">
              <input matInput placeholder="Y" formControlName="to">
            </mat-form-field>
          
            <button mat-raised-button color="primary">Submit</button>
          </form>
        </mat-tab>
      </mat-tab-group>
      <h2>Transmiter</h2>
      <table mat-table [dataSource]="dataCommon" class="table mt">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef>Full Name</th>
          <td mat-cell *matCellDef="let row">{{row.fullName}}</td>
        </ng-container>

        <ng-container matColumnDef="x">
          <th mat-header-cell *matHeaderCellDef>X</th>
          <td mat-cell *matCellDef="let row">{{row.x}}</td>
        </ng-container>

        <ng-container matColumnDef="y">
          <th mat-header-cell *matHeaderCellDef>Y</th>
          <td mat-cell *matCellDef="let row">{{row.y}}</td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let row">{{row.type}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsCommon"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsCommon;"></tr>
      </table>
      <h2>Signal</h2>
      <table mat-table [dataSource]="dataSignal" class="table mt">
        <ng-container matColumnDef="power">
          <th mat-header-cell *matHeaderCellDef>Power</th>
          <td mat-cell *matCellDef="let row">{{row.power}}</td>
        </ng-container>

        <ng-container matColumnDef="from">
          <th mat-header-cell *matHeaderCellDef>From</th>
          <td mat-cell *matCellDef="let row">{{row.from}}</td>
        </ng-container>

        <ng-container matColumnDef="to">
          <th mat-header-cell *matHeaderCellDef>To</th>
          <td mat-cell *matCellDef="let row">{{row.to}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsSignal"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsSignal;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
